<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GestionCommerciale.Properties.Settings.ConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=Gestion_commerciale;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
        <add name="GestionCommerciale.Properties.Settings.Gestion_commercialeConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=Gestion_commerciale;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
		    <add name="Gestion_commercialeDataSet1" 
            connectionString="Data Source=localhost;Initial Catalog=Gestion_commerciale;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>